/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/container-explorer
/cmake-build-debug/CMakeFiles/container-explorer.dir/data_source.c.o
/cmake-build-debug/CMakeFiles/container-explorer.dir/main.c.o
/.idea